* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 4px;
  margin: 4px;
}

/* Start of the Header section */
header {
  padding: 20px 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color:  #ffff;
  background-position: center;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  display: inline-block;
  font-size: 38px;
  text-align: left;
}

header a {
  text-decoration: none;
  color: blue;
}
header ul {
  padding-top: 15px;
  margin-right: 20px;
  font-family: 'cursive', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: right;
  font-size: 20px;
}

header nav ul li a {
  display: inline-block;
  margin-left: 45px;
}

header nav ul li a:hover {
  background: orange;
  color: red;
  border-radius: 15px;
  text-shadow: none;
}

header ul li {
  display: inline;
}
/* End of Header Section */

/* Hero Section */
.hero {
  height: 900px;
  width: auto;
  margin-bottom: 25px;
  background-image: url("./assets/codeblock.jfif");
  background-size: cover;
  background-position: center;
}

/* End of Hero Section */

/* Start of the About Me Section */
.title {
  font-size: 48px;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: lightblue;
}

.about p {
  line-height: 1;
  color: black;
  width: 80%;
  font-size: x-large;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
}
/* End of About Me Section */

/* Start of Website Section */
.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.project div {
    display: flex;
    flex-direction: column;
}
.project h3 {
  font-size: 18px;
  text-align: center;
  flex: 1 30%;
}

.project-img1 img {
  height: 150px;
  width: 150px;
  box-shadow: 10px 5px 5px black;
}

.project-img img {
  height: 200px;
  width: 200px;
  box-shadow: 10px 5px 5px black;
}

.project-img:hover,
.project-img:focus
.project-img:active {
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

.project-img1:hover,
.project-img1:focus
.project-img1:active {
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

/* End of the Website Section */

/* Start of the Resume Section */
.pdf iframe {
  height: 1000px;
  width: 70%;
  align-items: center;
}

/* End of Resume section */

/* Start of the Contact Section */
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 60px;
  flex: 2 70%;
}

.contact div {
  display: flex;
  flex-direction: column;
}
.contact-img img {
  height: 80px;
  width: 80px;
  box-shadow: 10px 5px 5px black;
}

.contact h3 {
 font-size: 18px;
 text-align: center;
 flex: 12;
}

.contact-img img:hover,
.contact-img img:focus
.contact-img img:active {
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

/* End of Contact Section */

/*Start of the Footer Section */
footer {
width: 100%;
}   

footer h4 {
  font-size: 20px;
  margin: 0;
  color: blue;
}

footer div {
  line-height: 0.5;
  font-size: 17px;
  color: blue;
}